<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="assets/css/reset.css" media="all">
    <link type="text/css" rel="stylesheet" href="assets/css/screen.css" media="all">
    <title>Document</title>
</head>
<body>
    <ul class="products">
        <div class="products__items">
            <li class="products__item1 product">
                <div class="product__photo">
                    <ul class="photo__tags">
                        <li class="tags__tag2">Мы советуем</li>
                        <li class="tags__tag3">Новинка</li>
                    </ul>
                    <img src="images/content/06188daa7e30c921ac820cd76c81f99e.png" alt="Bacen Ponevira" class="photo__image1">
                </div>
                <div class="product__info">
                    <a href="#" class="product__name">Backen Ponevira</a>
                    <div class="product__description">Люксовый автомобиль, который сумел объединить в себе несочетаемое: мощность и комфорт, динамику и экономичность, бизнес и поездки с семьей.</div>
                    <ul class="product__specifications">
                        <li>Мощность, л.с. <span class="specifications__separator"> —</span> <span class="specifications__value">440</span></li>
                        <li>Объем двигателя, куб. см. <span class="specifications__separator"> —</span><span class="specifications__value">2894</span></li>
                        <li>Разгон до 100 км/ч, <span class="specifications__separator"> —</span> <span class="specifications__value">4.4</span></li>
                    </ul>
                </div>
                <div class="product__purchase">
                    <div class="product__availability">
                        <div class="availability__whait">Ожидается</div>
                    </div>
                    <div class="product__price">
                        <div class="price__new">от 6 218 000 р.</div>
                    </div>
                    <div class="purchase__items">
                    <div class="purchase__buttons">
                        <div class="product__quantity">
                            <a class="quantity__minus">
                                <svg xmlns="http://www.w3.org/2000/svg" class="minus" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </a>
                            <div class="quantity__value">1</div>
                            <a class="quantity__plus">
                                <svg xmlns="http://www.w3.org/2000/svg" class="plus" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </a>
                        </div>
                        <a href="#" class="btn">В корзину</a>
                    </div>
                    <div class="product__information">
                        <a href="#" class="information__link">
                            <svg xmlns="http://www.w3.org/2000/svg" class="info-svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                        </a>
                        <div class="information__text">Немецкая сборка</div>
                    </div>
                </div>
            </li>
            <li class="products__item2 product">
                <div class="product__photo">
                    <ul class="photo__tags">
                        <li class="tags__tag1">Акция</li>
                        <li class="tags__tag2">Мы советуем</li>
                        <li class="tags__tag3">Новинка</li>
                        <li class="tags__tag4">Хит</li>
                    </ul>
                    <a href="#" class="photo__image"><img src="images/content/b733a8118d284c23fddf3bb648321d47.png" alt="Bacen Ponevira" class="photo__image2"></a>
                </div>
                <div class="product__info">
                    <a href="#" class="product__name">Backen Mocen</a>
                    <div class="product__description">
                        Спортивный кроссовер для тех, кто предпочитает быть всегда первым – эффектный вид, полный привод, возвышенная посадка и мощный двигатель.
                    </div>
                    <ul class="product__specifications">
                        <li>Мощность, л.с. <span class="specifications__separator"> —</span> <span class="specifications__value">360</span></li>
                        <li>Объем двигателя, куб. см. <span class="specifications__separator"> —</span> <span class="specifications__value">2997</span></li>
                        <li>Разгон до 100 км/ч, <span class="specifications__separator"> —</span> <span class="specifications__value">5.2</span></li>
                    </ul>
                </div>
                <div class="product__purchase">
                    <div class="product__availability">
                        <div class="availability__stock">В наличии</div>
                    </div>
                    <ul class="product__price">
                        <li class="price__new">от 5 506 000 р.</li>
                        <li class="price__old">5 720 000 р.</li>
                    </ul>
                    <div class="purchase__items">
                    <div class="purchase__buttons">
                        <div class="product__quantity">
                            <a class="quantity__minus">
                                <svg xmlns="http://www.w3.org/2000/svg" class="minus" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </a>
                            <div class="quantity__value">1</div>
                            <a class="quantity__plus">
                                <svg xmlns="http://www.w3.org/2000/svg" class="plus" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </a>
                        </div>
                        <a href="#" class="btn">В корзину</a>
                    </div>
                    <div class="product__information2">
                        <a href="#" class="information__link">
                            <svg xmlns="http://www.w3.org/2000/svg" class="info-svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                        </a>
                        <div class="information__text">Прямая поставка из Германии</div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</body>
</html>