/*===============================common styles==============================*/
body {
    color: rgb(119, 119, 119);
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif ;
    font-size: 9.5px;
    width: 720px;
}

@media (max-width: 480px){
    .body{
        display: block;
        width: 480px;
    }
}

h1 {

}
h2 {

}
h3 {
    color: #333333;
    font-size: 12x;
}
p {

}
a:link,
a:visited,
a:active {
    color: #ffffff;
}

a:hover {

}
img {
    max-width:100%;
}

a.btn{
    background-color: #2b7de0;
    border: 1px solid #2b7de0;
    border-radius: 2px;
    font-size: 8.5px;
    height: 10px;
    line-height: 1.765; 
    margin: 2px 0 0 3px; 
    padding: 4px 43px 10px 41px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 480px){
    a.btn{
        font-size: 12px;
        height: 14px;
        line-height: 1.713;
        margin: 4px 0 0 0;  
        padding: 7px 0 13px 59px;
        width: 132px;
    }
}

a.btn:active{
    background-color: #4289e0;
}

/*===============================products==============================*/
.products {
    margin: 26px 0 24px;
}

@media (max-width: 480px){
    .products{
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 24px;
    }
}

@media (max-width: 480px){
    .products__items{
        display: block;
    }
}

.products__item1 {
    border-bottom: 1px solid rgb(245, 246, 249);
    margin: 0 0 17px 0;
}

@media (max-width: 480px){
    .products__item1{
        border: #ffffff;

    }
}
.products__item2 {
    border-bottom: 1px solid rgb(245, 246, 249);
    margin: 2px 0 17px 0;
}
/*------------------------------product__photo-----------------------------------*/
.product {
    display: flex;
    padding: 0 26px 25px 25px;
}

@media (max-width: 480px){
    .product{
        display: block;
        margin: 37px 0 0 26px;
        padding: 0 0 35px 25px;
        width: 480px;
    }
}

.product__photo {
    flex: none;
}


.photo__image1 {
    height: 116px;
    width: 117px;
}

@media (max-width: 480px){
    .photo__image1{
        height: 377px;
        width: 378px;
    }
}

.photo__image2 {
    height: 117px;
    width: 116px;
}

@media (max-width: 480px){
    .photo__image2{
        height: 377px;
        width: 378px;
    }
}

/*------------------------------photo-tags-----------------------------------*/
.photo__tags {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    font-size: 9px;
    line-height: 1.667;
    position: absolute;
    width: 116px;
}

@media (max-width: 480px){
    .photo__tags {
        font-size: 12px;
        width: 378px;
    }
}

.tags__tag1 {
    background-color: #f7d33b;
    border-radius: 2px;
    color: #333333;
    height: 11px;
    margin: 0 0 2px 1px;
    padding: 2px 7px 6px 6px;
    width: 29px;
}
  
@media (max-width: 480px){
    .tags__tag1 {
        height: 16px;
        margin: 0 2px 0 1px;
        padding: 2px 8px 7px 8px;
        width: 42px;
    }
}

.tags__tag2 {
    background-color: rgb(117, 88, 205);
    border-radius: 2px;
    height: 11px;
    margin: 0 0 2px 1px;
    padding: 2px 7px 6px 6px;
    width: 62px;
}

@media (max-width: 480px){
    .tags__tag2 {
        height: 17px;
        padding: 2px 8px 6px 9px;
        width: 82px;
    }
}

.tags__tag3 {
    background-color: #62c34b;
    border-radius: 2px;
    height: 11px;
    margin: 0 0 0 1px;
    padding: 2px 7px 6px 6px;
    width: 42px;
}

@media (max-width: 480px){
    .tags__tag3 {
        height: 17px;
        margin: 0 0 0 4px;
        padding: 2px 10px 6px 9px;
        width: 53px;
    }
}

.tags__tag4 {
    background-color: #e74650;
    border-radius: 2px;
    height: 11px;
    margin: 0 0 0 2px;
    padding: 2px 6px 6px 6px;
    width: 18px;
}

@media (max-width: 480px){
    .tags__tag4 {
        height: 16px;
        margin: 0 0 0 4px;
        padding: 2px 9px 8px 8px;
        width: 20px;
    }
}

/*===============================product__info==============================*/
.product__info {
    font-size: 9.5px;
    flex: none;
    line-height: 1.579;
    margin: 0 0 0 25px;
    width: 323px;

}

@media (max-width: 480px){
    .product__info {
        font-size: 13px;
        line-height: 1.462;
        margin: 28px 0 0 0;
        width: 394px;
    }
}

a.product__name {
    color: #333333;
    font-size: 12px;
    line-height: 1.2;
    text-decoration: none;
}

@media (max-width: 480px){
    a.product__name {
        font-size: 16px;
    }
}

a.product__name:hover {
    color: #2b7de0;
}

.product__description {
    line-height: 1.579;
    margin: 9px 0 16px 0;
}
  

@media (max-width: 480px){
    .product__description {
        line-height: 1.462;
        margin: 18px 0 18px 0;
    }
}
/*------------------------------product__specifications-----------------------------------*/
.product__specifications {
    line-height: 1.579;
    padding: 0 0 6px 0;
}

@media (max-width: 480px){
    .product__specifications {
        line-height: 1.612;
    }
}


.specifications__value {
    color: #333333;
}

.specifications__separator{
    margin: 0 4px 0 4px;
}

@media (max-width: 480px){
    .specifications__separator {
        margin: 0 9px 0 9px;
    }
}

/*------------------------------product__information-----------------------------------*/

.product__purchase {
    margin: 0 0 0 62px;
}

@media (max-width: 480px){
    .product__purchase{
        margin: -2px 0 0 0;
    }
}

@media (max-width: 480px){
    .purchase__items{
        display: flex;
    }
}

.product__information{
    display: flex;
    margin: 11px 0 0 3px;
}

@media (max-width: 480px){
    .product__information{
        margin: -49px 0 0 70px;
    }
}

.product__information2{
    display: flex;
    margin: 11px 0 0 3px;
}

@media (max-width: 480px){
    .product__information2{
        margin: -72px 0 0 -16px;
    }
}

.information__text{
    font-size: 9px;
    line-height: 1.667;
    margin: 0 0 0 4px;
}

@media (max-width: 480px){
    .information__text{
        font-size: 12px;
        line-height: 1.25;
    }
}

.info-svg{
    height: 13px;
    width: 12px;
}

@media (max-width: 480px){
    .info-svg{
        height: 17px;
        width: 16px;
    }
}

a.information__link {
    color: #777777;
    text-decoration: none;
}

a.information__link:hover {
    color: #2b7de0;
}

a.information__link:active {
    color: #333333;
}

/*------------------------------product__quantity-----------------------------------*/
.purchase__buttons{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 480px){
    .purchase__buttons {
        width: 193px;
    }
}

.product__quantity {
    background-color: rgb(248, 249, 251);
    border: 1px solid rgb(240, 240, 241);
    border-radius: 2px;
    display: flex;
    height: 24px;
    margin: -1px 0 0 3px;   
    width: 137px;
}

@media (max-width: 480px){
    .product__quantity {
        margin: 0 0 0 0;
        height: 35px; 
        width: 193px;
    }
}

.minus {
    height: 24px;
    width: 9px;
    }

@media (max-width: 480px){
    .minus {
        height: 24px;
        width: 15px;
    }
}

a.quantity__minus{
    color: #777777;
    padding: 0 0 0 7px;
}

@media (max-width: 480px){
    a.quantity__minus {
        padding: 5px 0 0 10px;
    }
}

a.quantity__minus:hover{
    color: #2b7de0;
}

a.quantity__minus:active{
    color: #333333;
}

.quantity__value{
    font-size: 9px;
    padding: 7px 0 0 52px;
}
  
@media (max-width: 480px){
    .quantity__value {
        font-size: 12px;
        line-height: 1.598;
        padding: 9px 0 0 70px;
    }
}

.plus {
    height: 9px;
    width: 9px;
    }

@media (max-width: 480px){
    .plus {
        height: 15px;
        width: 15px;
    }
}

a.quantity__plus{
    color: #777777;
    padding: 7px 0 0 50px;
}

@media (max-width: 480px){
    a.quantity__plus {
        padding: 11px 0 0 70px;
    }
}

a.quantity__plus:hover{
    color: #2b7de0;
}

a.quantity__plus:active{
    color: #333333;
}

/*------------------------------product__availability-----------------------------------*/
.product__availability {
    font-size: 8px;
    line-height: 1.875;
    margin: -4px 0 -7px 2px;
    padding: 0 0 14px;
    text-transform: uppercase; 
}

@media (max-width: 480px){
    .product__availability {
        font-size: 11px;
        margin: 29px 0 -3px 0;
    }
}

.availability__whait {
    color: #f28c29;
}
  
.availability__stock {
    color: #5fa800;
    margin: 1px 0 0 1px;
}

/*------------------------------product__price-----------------------------------*/
.product__price {
    color: #333333;
    font-size: 12.5px;
    line-height: 1.2;
    margin: 0 0 0 3px;
    padding: 0 0 7px;
}

@media (max-width: 480px){
    .product__price {
        font-size: 17px;
        margin: 0 0 3px 1px;
    }
}
.price__new {
    font-weight: bold;
    padding: 0 0 8px;
}

.price__old {
    color: #777777;
    font-size: 9.5px;
    line-height: 1.579;
    margin: -5px 0 7px 0;
    text-decoration: line-through;
}

@media (max-width: 480px){
    .price__old {
        color: #333333;
        font-size: 13px;
        line-height: 1.154;
        margin: 0 0 10px 1px;
    }
}

  